Tareas/Tarea3/RL_tarea3/
Tareas/Tarea3/Lecturas/
Tareas/Tarea4/RL_tarea4/
Tareas/Tarea4/Lecturas/
Tareas/Tarea5/ambiente_tarea5/
Tareas/Tarea5/Extras/
Tareas/Tarea5/pdfs/
**/pyvenv.cfg
Tarea3/RL_tarea3/
Tarea3/Lecturas/
Tarea4/RL_tarea4/
Tarea4/Lecturas/
Tarea5/ambiente_tarea5/
Tarea5/Extras/
Tarea5/pdfs/
**/pyvenv.cfg
Proyecto/FinRL_repo/
Proyecto/FinRL-Tutorials/
Proyecto/*.zip
.ipynb_checkpoints/
Proyecto/results/
